.back-navigation {
    top: 76px;
left: 80px;
width: 24px;
height: 24px;
background: transparent url('../img/back-navigation.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.back-navigation-label {
    top: 72px;
left: 120px;
width: 111px;
height: 32px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
letter-spacing: var(--unnamed-character-spacing-0-18);
color: var(--light-🌕-on-surface-high-emphasis-000000-87-);
text-align: left;
font: normal normal normal 24px/24px Roboto;
letter-spacing: 0.18px;
color: #000000DE;
text-transform: capitalize;
opacity: 1;
}